<h2 align = "center">Interns</h2>


 <ul class="collection">
    <% @users.each do |user| %>
        <li class="collection-item avatar">
          <i class="material-icons circle">account_circle</i>
          <span class="title"><%= user.firstname && user.lastname ? (link_to user.firstname + " " + user.lastname, interns_path) : (link_to('Anonymous', interns_path))%></span>
          <p>First Line <br>
             Second Line
          </p>
          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
        </li>
    <%end%>
  </ul>
 
<div align = "center">
    <%= will_paginate @users %>
</div>
