

<%if user_signed_in?%>
    <h1>Welcome <%=current_user.firstname if current_user.firstname%></h1>
    <p>Welcome Page</p>
<%else%>
    <div class="card-image">
        <%= image_tag "learning.png", class: "responsive-img" %>
    </div>
    <h1 align = "center">Trinity Internship</h1>
    <div align = "center">
       <%= link_to "Sign In", new_user_session_path, class: "waves-effect waves-light btn-large"%> 
    </div>
<%end%>


