<%= form_for(@unit, :html => {class: "form-horizontal", role: "form"}) do  |f| %>
    <div class="form-group">
        <div class="control-label col-sm-2">
            <%= f.label :name %>
        </div>
        <div>
              <%= f.text_field :name, class:"form-control", placeholder: "Title of Unit", autofocus: true %> 
        </div>
        <div class="form-group" id="submitbutton">
            <div align = "center">
                <%= f.submit  class: "btn waves-effect waves-light" %>
            </div>
        </div>
    </div>
<%end%>