<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @subuser.firstname %> has submitted an assignment!</h1>
    <p>you can find it here!</p>
  </body>
</html>