@import "materialize";
@import "./actiontext.scss";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
 }

.li {
    list-style-type: circle !important
}

.containlite {
    margin-left: 10px;
}

.btn-tiny {
    height: 24px;
    line-height: 24px;
    padding: 0 0.5rem;
}

.pagination li.active a {
  color: #fff;
    
}

.xtrapadding {
    padding-top: 10px !important;
    padding-bottom: 30px !important;
}

.form-padding {
    padding: 5px;
}

.icon-light-gray {
    color: #cfd8dc;
}

.top-padding {
    padding-top: 50px;
}

.hidden {
    display: none;
}

.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.assignment_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
}

.margin {
    margin: 10px;
}

.shortnumber {
    
}

.autoheight {
    height: auto;
}

.line-height {
    display: inline-flex;
    vertical-align: middle;
}

.short-width {
    width: 50px;
}

.same-height {
    height: auto;
}

.chipheight {
    height: 5px;
}

.inline {
    display: inline-block;
}

.margin-side {
    margin-left: 3px;
    margin-right: 3px;
}

.xtramargintop {
    margin-top: 5px;
}

.icon-comment {
    color: grey;
}

.comment {
   margin-top: 20px;
   margin-bottom: 20px;
}

.commentText {
    margin-left: 10px;
}

#rcorners1 {
    display: table;
    border-radius: 25px;
    background: #DCDCDC;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 30px;
}
.commentIcon {
    display: inline-flex;
    vertical-align: middle;
    float: left;
}
.commentmore {
    display: inline-block;
    float: right;
    color: black;
}
.assignmentmore {
    display: block;
    float: right;
    color: black;
    margin-top: 15px;
}
.astext {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none
}

.announcementcontent {
    padding-left: 10px;
}

.btn {
    margin: 10px;
}

.img-circular{
 width: 200px;
 height: 200px;
 background-size: cover;
 display: block;
}

.profImage {
    height: 60px;
    width: 60px;
}

.bigtext {
    font-size: 55px;
}