<%if user_signed_in?%>
    <%if current_user.role == "teacher"%>
        <div class="fixed-action-btn">
          <a class="btn-floating btn-large blue">
            <i class="large material-icons">add</i>
          </a>
          <ul>
            <li>
                <%= link_to interns_path(), :class=> "btn-floating green" do %>
                    <i class="material-icons">person</i>
                <% end %>
            </li>
            <li>
                <%= link_to grades_path(), :class=> "btn-floating green" do %>
                    <i class="material-icons">import_contacts</i>
                <% end %>
            </li>
            <li>
                <%= link_to new_assignment_path(), :class=> "btn-floating blue" do %>
                    <i class="material-icons">assignment</i>
                <% end %>
            </li>
          </ul>
        </div>
    <%end%>
<%end%>